<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
        <title>High Street Gym - Manage Users</title>
</head>

<body>
    <%- include("partials/header.ejs", {accessRole, firstName}) %>
        <main>

<h2>Manage Users</h2>
            <section class="half-half-layout">
                <section class="cols-5 user-list">
                   
                    <span class="list-heading">First Name</span>
                    <span class="list-heading">Last Name</span>
                    <span class="list-heading">Role</span>
                    <span></span>
                    <% let rowNumber=1 %>
                        <% for (let user of allUsers) { %>
                            
                                <span>
                                    <%= rowNumber++ %> <%= user.firstname %>

                                </span>
                                <span>
                                    <%= user.lastname %>
                                </span>
                                <span>
                                    <%= user.role %>
                                </span>
                                <a href="/manage_users?edit_id=<%= user.id %>" class="edit-link-btn">
                                    Edit
                                </a>
                                <% } %>
                </section>
                <section class="form-container">
                    <form action="/manage_users" method="post" class="form-grid edit-info">
                        <input type="hidden" name="user_id" value="<%= editUser.id %>" />

                        <label for="email">Email:</label>
                        <input type="email" name="email" value="<%=editUser.email %>" />

                        <label for="password">Password:</label>
                        <input type="password" name="password" value="<%=editUser.password %>" />

                        <label for="access-role">Access Role:</label>
                        <select name="access_role" id="access-role">
                            <option value="">Select a role</option>
                            <option <%=editUser.role=="member" ? "selected" : "" %> value="member">
                                Member
                            </option>
                            <option <%=editUser.role=="trainer" ? "selected" : "" %> value="trainer">
                                Trainer
                            </option>
                            <option <%=editUser.role=="admin" ? "selected" : "" %> value="admin">
                                Admin
                            </option>
                        </select>

                        <label for="phone">Mobile Number:</label>
                        <input type="tel" name="phone" value="<%= editUser.phone %>" />

                        <label for="first-name">First Name:</label>
                        <input type="text" name="first_name" id="first-name" value="<%= editUser.firstname %>" />

                        <label for="last-name">Last Name:</label>
                        <input type="text" name="last_name" id="last-name" value="<%= editUser.lastname %>" />

                        <label for="address">Address</label>
                        <input type="text" name="address" id="address" value="<%= editUser.address %>" />

                        <input type="submit" name="action" value="delete" class="edit-btn manage-btn"/>
                        <% if (editUser.id=="0" ) { %>
                            <input type="submit" name="action" value="create" class="edit-btn manage-btn"/>
                            <% } else { %>
                                <input type="submit" name="action" value="update" class="edit-btn manage-btn"/>
                                <% } %>

                    </form>
                </section>
            </section>

        </main>
        <%- include("partials/footer.ejs") %>
</body>

</html>